{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript",
        "google",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module"
    },
    "ignorePatterns": [
        "/dist/**/*" // Ignore built files.
    ],
    "plugins": ["@typescript-eslint", "import"],
    "rules": {
        "linebreak-style": "off",
        "max-len": "off",
        "operator-linebreak": "off",
        "curly": "off",
        "object-curly-spacing": ["error", "always"],
        "quote-props": ["error", "as-needed"],
        "quotes": ["error", "double"],
        "indent": "off",
        "comma-dangle": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "require-jsdoc": "off",
        "new-cap": "off"
    }
}
