/* Info */
.info {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px 10px;
}

.info_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info_content {
    min-width: 250px;
    max-width: 400px;
    width: 100%;
    flex: 1;
    opacity: 0.7;
    margin: 0 15px;
}

.info_content_title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.info_content_title h2 {
    font-size: 2rem;
    font-weight: 400;
    transform: translateY(4px);
    flex: 3;
}

.info_content_title button {
    flex: 2;
}

.info_container .follow_btn {
    color: teal;
    cursor: pointer;
}

.info_container .follow_btn span:hover {
    text-decoration: underline;
}

/* Profile Editor */

.edit_profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0008;
    z-index: 9;
    overflow: auto;
}

.edit_profile form {
    max-width: 450px;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
}

.edit_profile .btn_close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.edit_profile .info_avatar {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 15px auto;
    border: 1px solid #ddd;
    cursor: pointer;
}

.edit_profile .info_avatar img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.edit_profile .info_avatar span {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    text-align: center;
    color: orange;
    transition: 0.3s ease-in-out;
    background: #fff5;
}

.edit_profile .info_avatar:hover span {
    bottom: -15%;
}

.edit_profile .info_avatar #file_up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

::-webkit-file-upload-button {
    cursor: pointer;
}
